<p>Hello <%= @user.name %>,</p>

<p>
  You recently submitted an open access version of your publication,
  <em><%= @deposit.publication_title %></em>, for deposit in ScholarSphere, 
  Penn State's institutional repository, in order to comply with Penn State 
  Policy AC02: Open Access to Scholarly Articles. This message is to let you
  know that the deposit of your publication was successful, and you can now
  view the open access version of your publication here:
  <%= link_to @deposit.scholarsphere_open_access_url, @deposit.scholarsphere_open_access_url %>.
</p>
