<div class="container pt-4 pb-5">
  <%= link_to '<< Back', activity_insight_oa_workflow_path %>
  <h1 class="pb-3 pt-2">Publications Ready for Metadata Review</h1>
  <table class="table">
    <thead class='card-header'>
      <tr>
        <th>Title</th>
        <th>Uploaded by</th>
      </tr>
    </thead>
    <tbody class='card-body'>
      <% @publications.each do |p| %>
        <tr id="<%= dom_id(p) %>">
          <td><%= link_to p.title.truncate(45),
                  activity_insight_oa_workflow_review_publication_metadata_path(p) %></td>
          <td><%= p.ai_file_for_deposit.user.webaccess_id %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
