<div class="container pt-4 pb-5">
  <%= link_to '<< Back', activity_insight_oa_workflow_path %>
  <h1 class="pb-3 pt-2">Publications Ready for Metadata Review</h1>
  <table class="table">
    <thead class='card-header'>
      <tr>
        <th>Title</th>
      </tr>
    </thead>
    <tbody class='card-body'>
      <% @publications.each do |p| %>
        <tr id="<%= dom_id(p) %>">
          <td><%= link_to p.title.truncate(45),
                  rails_admin.edit_path(model_name: :publication, id: p.id),
                  target: '_blank' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
