---
http_interactions:
- request:
    method: get
    uri: https://search-service.k8s.psu.edu/people/userid/abc123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "userid": "abc123",
          "cprid": "2460424",
          "givenName": "FirstName",
          "middleName": "MiddleName",
          "familyName": "LastName",
          "honorificPrefix": "",
          "honorificSuffix": "",
          "preferredGivenName": "FirstName",
          "preferredMiddleName": "MiddleName",
          "preferredFamilyName": "LastName",
          "preferredHonorificPrefix": "",
          "preferredHonorificSuffix": "",
          "active": true,
          "confHold": false,
          "universityEmail": "abc123@psu.edu",
          "otherEmail": "",
          "serviceAccount": false,
          "primaryAffiliation": "STAFF",
          "affiliation": [
            "MEMBER",
            "STAFF"
          ],
          "altUserids": [],
          "link": {
            "href": "https://cpr.k8s.psu.edu/cpr/resources/2460424"
          },
          "displayName": "FirstName LastName"
        }    '
  recorded_at: Thu, 28 Aug 2025 18:28:32 GMT
recorded_with: VCR 6.3.1
