---
http_interactions:
- request:
    method: get
    uri: https://identity.apps.psu.edu/search-service/resources/people/userid/ajk5603
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      Uniqueid:
      - 6568cd64-a52e-42e6-b04e-d40a957b3dc5
      X-Content-Security-Policy:
      - frame-ancestors 'none'
    body:
      encoding: UTF-8
      string: '{"userid":"ajk5603","cprid":"2460424","givenName":"Alexander","middleName":"","familyName":"Kiessling","honorificSuffix":"","preferredGivenName":"Alex","preferredMiddleName":"","preferredFamilyName":"Kiessling","preferredHonorificSuffix":"","active":true,"confHold":false,"universityEmail":"ajk5603@psu.edu","serviceAccount":false,"primaryAffiliation":"STAFF","altUserids":[],"affiliation":["STAFF"],"displayName":"Alex
        Kiessling","link":{"href":"https://cpr.k8s.psu.edu/cpr/resources/2460424"}}'
  recorded_at: Thu, 23 Jan 2025 17:41:02 GMT
recorded_with: VCR 6.1.0
