<h4>Profile Bio Information</h4>
<table class="table">
  <tbody>
    <tr>
      <td><strong>Name:</strong></td>
      <td><%= @profile.name %></td>
    </tr>
    <tr>
      <td><strong>Bio:</td>
      <td><%= @profile.bio %></td>
    </tr>
  </tbody>
</table>
