<div class="manage-profile-list">
  <h4>Presentations for <%= current_user.name %></h4>

  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Presentation</th>
      <th>Visible in profile</th>
    </tr>
    </thead>
    <tbody id="presentation-contributions">

    </tbody>
  </table>
</div>
