<p>Dear <%= @user.name %>,</p>

<p>There will be some information about your potential open access publications here...</p>

<p>
  The Office of Scholarly Communications and Copyright
  <br/>
  Penn State University Libraries
</p>
