<p>Dear <%= @user.name %>,</p>

<p>
  Some publications for which you are listed as an author are subject to the University's
  Open Access to Scholarly Articles policy (AC02). Below is a list of the publications for
  which we do not currently have any information with regard to open access status.
</p>

<% if @new_publications.any? %>
  <strong>New publications awaiting action:</strong>
  <ul>
    <% @new_publications.each do |p| %>
      <li><%= link_to p.title, edit_open_access_publication_url(p) %></li>
    <% end %>
  </ul>
<% end %>

<% if @old_publications.any? %>
  <strong>Previous publications awaiting action:</strong>
  <ul>
    <% @old_publications.each do |p| %>
      <li><%= link_to p.title, edit_open_access_publication_url(p) %></li>
    <% end %>
  </ul>
<% end %>

<p>
  We encourage you to visit the links in the list and follow the instructions to provide us
  with information about the open access status of each of your publications.
</p>

<p>
  The Office of Scholarly Communications and Copyright
  <br/>
  Penn State University Libraries
</p>
