<p>
Hello,
</p>

<p>
We are writing to follow up on the publication file(s) uploaded to your account in Activity Insight in the section
titled “Open Access Post-Print Publication files."
</p>

<p>
  When researchers <a href="https://openaccess.psu.edu/deposit/activity-insight/">upload files to this section</a>,
  a team in the Libraries works to make them available to the public via
  <a href="http://scholarsphere.psu.edu/">ScholarSphere</a> according to the default terms of the journal's
  publishing agreement. This process is designed for the
  <a href="https://psu.libanswers.com/faq/273465">“post-print” or “accepted manuscript” version</a> of the article,
  because most journals allow that version to be shared widely. Some journals prefer that you share the final
  published version. In rare cases, the journal does not allow you to share either version.
</p>

<p>
This is the case for the following article(s) for which you (or an Activity Insight Proxy) uploaded files:
</p>

<ul>
  <% @publications.each do |p| %>
    <li>
      <%= p.title %>
    </li>
  <% end %>
</ul>

<p>
As a result, we have not deposited the file(s). If you believe this is an error, if you would like us enter a waiver
of the OA policy for this article, or if you have any questions, please do not hesitate to contact us at
<a href="mailto:openaccess@psu.edu">openaccess@psu.edu</a>.
</p>

<p>
If you have uploaded other files in Activity Insight, we will process those files and update you in due course.
You can view a list of all your publications and their open access statuses on your
<a href="https://metadata.libraries.psu.edu/profile/publications/edit">Manage Profile Publications</a> page.
</p>

<p>
  All the best,
  <br>
  Office of Scholarly Communications and Copyright
  <br>
  Penn State University Libraries
  <br>
  <a href="mailto:openaccess@psu.edu">openaccess@psu.edu</a>
</p>
