<p>Hello <%= @user.name %>,</p>

<p>
  You recently submitted an open access version of your publication,
  <em><%= @deposit.publication_title %></em>, for deposit in ScholarSphere in
  order to comply with Penn State Policy AC02: Open Access to Scholarly Articles.
  There was an issue uploading the publication. Staff are working on this and we
  will follow up with you.
</p>
