<p>Hello <%= @user.name %>,</p>

<p>
  You recently submitted an open access version of your publication,
  <em><%= @deposit.publication_title %></em>, for deposit in ScholarSphere, 
  Penn State's institutional repository. This message is to let you know that
  an error occurred during the upload and processing of your submission, and
  that your publication may not have been successfully deposited in ScholarSphere.
  Please contact 
  <%= link_to "Researcher Metadata Database support", "mailto:mailto:L-FAMS@lists.psu.edu?subject=Error%20in%20RMD%20ScholarSphere%20deposit%20#{@deposit.id}" %>
  for assistance.
</p>
