---
http_interactions:
- request:
    method: get
    uri: https://api.unpaywall.org/v2/search/?email=openaccess@psu.edu&query=Economic%20Development
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"elapsed_seconds":0.247,"results":[{"response":{"best_oa_location":null,"data_standard":2,"doi":"10.30541/v32i4ipp.357-386","doi_url":"https://doi.org/10.30541/v32i4ipp.357-386","first_oa_location":null,"genre":"journal-article","has_repository_copy":false,"is_oa":false,"is_paratext":false,"journal_is_in_doaj":false,"journal_is_oa":false,"journal_issn_l":"0030-9729","journal_issns":"0030-9729","journal_name":"The
        Pakistan Development Review","oa_locations":[],"oa_locations_embargoed":[],"oa_status":"closed","published_date":"1993-12-01","publisher":"Pakistan
        Institute of Developemnt Economics (PIDE)","title":"Economic Development and
        Development Economics (Presidential Address)","updated":"2021-01-13T12:08:11.543560","year":1993,"z_authors":[{"family":"Naqvi","given":"Syed
        Nawab Haider","sequence":"first"}]},"score":0.10277967,"snippet":"<b>Economic</b>
        <b>Development</b> and <b>Development</b> <b>Economics</b> (Presidential Address)"},{"response":{"best_oa_location":null,"data_standard":2,"doi":"10.2307/2609769","doi_url":"https://doi.org/10.2307/2609769","first_oa_location":null,"genre":"journal-article","has_repository_copy":false,"is_oa":false,"is_paratext":false,"journal_is_in_doaj":false,"journal_is_oa":false,"journal_issn_l":"0020-5850","journal_issns":"1468-2346,0020-5850","journal_name":"International
        A[...]
[...]
