<div class="container">
 <% if needs_doi_check_count.nonzero? %>
    <%= link_to '/', class: 'card-link' do %>
      <div class='card'>
        <div class='card-header'><strong>Check DOIs</strong>
          <span class='float-right text-large'><strong><%= needs_doi_check_count %></strong></span>
        </div>
        <div class='card-body'>Publications whose Activity Insight Open Access files need manual DOI curation.</div>
      </div>
    <% end %>
  <% else %>
    <div class='card text-muted'>
      <div class='card-header'><strong>Check DOIs</strong>
        <span class='float-right text-large'>0</strong></span>
      </div>
      <div class='card-body'>Publications with Activity Insight Open Access files that manual DOI curation.</div>
    </div>
  <% end %>
</div>
