<div class="container">
 <% if doi_unverified_count.nonzero? %>
    <%= link_to activity_insight_oa_workflow_doi_verification_path, class: 'card-link' do %>
      <div class='card'>
        <div class='card-header'><strong>Check DOIs</strong>
          <span class='float-right text-large'><strong><%= doi_unverified_count %></strong></span>
        </div>
        <div class='card-body'>Publications that require manual DOI curation or verification.</div>
      </div>
    <% end %>
  <% else %>
    <div class='card text-muted'>
      <div class='card-header'><strong>Check DOIs</strong>
        <span class='float-right text-large'>0</strong></span>
      </div>
      <div class='card-body'>Publications that require manual DOI curation.</div>
    </div>
  <% end %>
</div>
