  <%= form_with url: scholarsphere_deposit_path(@publication.id), method: :post do |f| %>
    <button type="submit"
            class="btn btn-primary">
      Deposit to Scholarsphere
    </button>
  <% end %>
