---
http_interactions:
- request:
    method: get
    uri: https://identity.apps.psu.edu/search-service/resources/people/userid/abc123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      X-Content-Security-Policy:
      - frame-ancestors 'none'
      Uniqueid:
      - 2e489ad3-7452-4f71-9e48-2f10c8890b71
    body:
      encoding: UTF-8
      string: '{"userid":"abc123","cprid":"2784093","givenName":"Firstname","middleName":"Garner","familyName":"Lastname","preferredGivenName":"PreferredFirstname","preferredFamilyName":"PreferredLastname","preferredMiddleName":"PreferredMiddlename","active":true,"confHold":false,"universityEmail":"agw13@psu.edu","serviceAccount":false,"affiliation":["STAFF"],"displayName":"PreferredFirstname
        PreferredLastname","link":{"href":"https://dev.apps.psu.edu/cpr/resources/2784093"}}'
  recorded_at: Thu, 18 Nov 2021 18:24:48 GMT
recorded_with: VCR 6.0.0
