version: 2.1
orbs:
  docker: circleci/docker@2.6.0
  ruby: circleci/ruby@2.5.0
  node: circleci/node@6.3.0
  browser-tools: circleci/browser-tools@1.4.8

parameters:

  GHA_Action:
    type: string
    default: ""
  GHA_Actor:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""
  CI_UTILS_IMAGE_TAG:
    type: string
    default: "v4.3.0"
  CONFIG_REPO_NAME:
    type: string
    default: "researcher-metadata-config"
  CONFIG_REPO_URL:
    type: string
    default: "git@github.com:psu-libraries/researcher-metadata-config.git"
  CLUSTERS_DEV:
    type: string
    default: "uldev"
  CLUSTERS_PROD:
    type: string
    default: "prod"    
  REGISTRY_HOST:
    type: string
    default: "harbor.k8s.libraries.psu.edu"    
  PIPELINE_CONFIG_VERSION:
    type: string
    default: "1.0.1"    

commands:

  clone-config-repo:
    steps:
      - add_ssh_keys
      - run:
          name: Prepare GitHub Access
          command: |
            ssh-keyscan github.com > ~/.ssh/known_hosts
            git clone << pipeline.parameters.CONFIG_REPO_URL >>


  compute-docker-tag:
    steps:
      - run:
          name: Compute Docker Tag
          command: |
            if [[ "$CIRCLE_BRANCH" == "main" ]]; then
              TAG="$CIRCLE_SHA1"
            else
              SLUG=$(slugify-branch "$CIRCLE_BRANCH")
              TAG="${SLUG}--$CIRCLE_SHA1"
            fi
            echo "export TAG=$TAG" >> "$BASH_ENV"    

executors:

  ci-utils:
    parameters:
      image_tag:
        type: string
      registry_host:
        type: string
    docker:
      - image: << parameters.registry_host >>/library/ci-utils:<< parameters.image_tag >>            

jobs:
  release-image:
    parameters:
      to_tag:
        type: string
      from_tag:
        type: string
      clusters:
        type: string
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    environment:
      clusters: << parameters.clusters >>
      CONFIG_REPO: git@github.com:psu-libraries/catalog-config.git
      REGISTRY_HOST: harbor.k8s.libraries.psu.edu
      FROM_TAG: << parameters.from_tag >>
      TO_TAG: << parameters.to_tag >>
      PIPELINE_CONFIG_VERSION: << pipeline.parameters.PIPELINE_CONFIG_VERSION >>
    steps:
      - clone-config-repo
      - run:
          name: Tag & Release Image
          command: |
            export TRIGGERED_BY="$CIRCLE_USERNAME"
            export REGISTRY_REPO="$CIRCLE_PROJECT_REPONAME"
            /usr/local/bin/image-tag
            cd $CONFIG_REPO_NAME

            # Split comma-separated clusters into array and loop
            clusters="${clusters// /}"
            IFS=',' read -ra CLUSTERS \<<< "$clusters"
            for cluster in "${CLUSTERS[@]}"; do
              export TARGET_CLUSTER="$cluster"
              echo "Processing cluster: $TARGET_CLUSTER"
              /usr/local/bin/image-release-pr "clusters/$TARGET_CLUSTER/manifests/$CIRCLE_PROJECT_REPONAME/prod.yaml"
            done          


  deploy-application:
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    environment:
      clusters: << parameters.clusters >>
      CONFIG_REPO_NAME: << pipeline.parameters.CONFIG_REPO_NAME >>
      CONFIG_REPO_URL: << pipeline.parameters.CONFIG_REPO_URL >>
    parameters:
      clusters:
        type: string
    steps:
      - clone-config-repo
      - compute-docker-tag
      - run:
          name: Add or Update Application Manifest
          command: |
            export TRIGGERED_BY="$CIRCLE_USERNAME"
            # Split comma-separated clusters into array and loop
            clusters="${clusters// /}"
            IFS=',' read -ra CLUSTERS \<<< "$clusters"
            echo "Pre loop Directory: $(pwd)"
            for cluster in "${CLUSTERS[@]}"; do
                export TARGET_CLUSTER="$cluster"
                echo "Processing cluster: $TARGET_CLUSTER"
                cd $CONFIG_REPO_NAME
                ./bin/ci-write-manifest
                echo "Finished processing $TARGET_CLUSTER"
                git status
            done

  push-image:
    environment:
      REGISTRY_HOST: << pipeline.parameters.REGISTRY_HOST >>
      REGISTRY_REPO: "library/$CIRCLE_PROJECT_REPONAME"
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    steps:
      - setup_remote_docker:
          docker_layer_caching: false
      - checkout
      - compute-docker-tag
      - attach_workspace:
          at: /tmp
      - run:
          name: Load Docker image
          command: |
            docker load -i /tmp/docker-image.tar
      - docker/check:
          registry: $REGISTRY_HOST
      - docker/push:
          image: $REGISTRY_REPO
          registry: $REGISTRY_HOST
          tag: $TAG   

  build-image:
    environment:
      REGISTRY_HOST: << pipeline.parameters.REGISTRY_HOST >>
      REGISTRY_REPO: "library/$CIRCLE_PROJECT_REPONAME"
    # executor:
    #   name: ci-utils
    #   image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>  
    #   registry_host: << pipeline.parameters.REGISTRY_HOST >>
    docker: 
      - image: cimg/ruby:3.4.1-node
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - checkout
      - run: ruby --version
      - run: node --version
      - run: bundle install      
      - compute-docker-tag
      - docker/check:
          registry: $REGISTRY_HOST
      - docker/build:
          image: $REGISTRY_REPO
          registry: $REGISTRY_HOST
          tag: $TAG
          extra_build_args: "--target production"
          use-buildkit: true
      - run:
          name: Save Docker image
          command: |
            docker save $REGISTRY_HOST/library/$CIRCLE_PROJECT_REPONAME:$TAG -o /tmp/docker-image.tar
      - run:
          name: Save image info for push job
          command: |
            mkdir -p /tmp/docker-image-info
            echo "$REGISTRY_HOST/library/$CIRCLE_PROJECT_REPONAME:$TAG" > /tmp/docker-image-info/image-name.txt
      - persist_to_workspace:
          root: /tmp
          paths:
            - docker-image.tar
            - docker-image-info

  delete-deployment:
    parameters:
      delete_branch:
        type: string
    executor:
      name: ci-utils
      image_tag: << pipeline.parameters.CI_UTILS_IMAGE_TAG >>
      registry_host: << pipeline.parameters.REGISTRY_HOST >>
    environment:
      CONFIG_REPO_NAME: << pipeline.parameters.CONFIG_REPO_NAME >>
      CONFIG_REPO_URL: << pipeline.parameters.CONFIG_REPO_URL >>
      DELETE_BRANCH: << parameters.delete_branch >>
    steps:
      - clone-config-repo
      - run:
          name: Delete Deployment
          command: |
            export TRIGGERED_BY="$CIRCLE_USERNAME"
            cd $CONFIG_REPO_NAME
            ./bin/ci-delete-manifest

  test-application:
    docker:
      - image: cimg/ruby:3.4.1-browsers
      - image: cimg/postgres:12.7
        environment:
          POSTGRES_USER: psu_research_metadata_test
          POSTGRES_DB: psu_research_metadata_test
          POSTGRES_PASSWORD: "password"
    # environment variables specific to Ruby/Rails, applied to the primary container.
    environment:
      BUNDLE_JOBS: "3"
      BUNDLE_RETRY: "3"
      PGHOST: 127.0.0.1
      PGUSER: psu_research_metadata_test
      PGPASSWORD: "password"
      RAILS_ENV: test
    # A series of steps to run, some are similar to those in "build".
    steps:
      - run: sudo apt-get update
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - checkout
      - run: bundle install
      - node/install:
          node-version: '22'
      - run: node --version
      # Here we make sure that the secondary container boots
      # up before we run operations on the database.
      - run:
          name: Configure Rspec
          command: cp .rspec.ci .rspec
      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Database setup
          command: bundle exec rails db:schema:load --trace
      - run:
          name: Check current version of node
          command: node -v
      - run:
          name: Niftany
          command: bundle exec niftany
      - run:
          name: RSpec
          command: bundle exec rspec

# We use workflows to orchestrate the jobs that we declared above.
workflows:
  version: 2
  rmd-ci-cd:     # The name of our workflow is "build_and_test"
    jobs:             # The list of jobs we run as part of this workflow.
      - push-image:
          name: push-image
          context:
            - org-global
          filters:
            branches:              
              only:
                - main
                - /preview\/.*/
          requires:
            - build-image
            - test-application
      - build-image:
          name: build-image
          context:
            - org-global
          filters:
            branches:
              only:
                - main
                - /preview\/.*/

      - test-application:         # Then run test,
          name: test-application
          # requires:   # Test requires that build passes for it to run.
            # - build-image   # Finally, run the build job.
          context:
            - org-global
          filters:
            branches:
              only: /.*/            
      - deploy-application:
          name: deploy-application
          context:
            - org-global
          clusters: << pipeline.parameters.CLUSTERS_DEV >>
          filters:
            branches:
              only:
                - main
                - /preview\/.*/
          requires:
            - push-image
      - release-image:
          context:
            - org-global
          name: "Release"
          clusters: << pipeline.parameters.CLUSTERS_PROD >>
          from_tag: "<< pipeline.git.revision >>"
          to_tag: "<< pipeline.git.tag >>"          
          filters:
            tags:
              only:
                - /^v\d+.\d+.\d+.*/
            branches:
              ignore:
                - /.*/