<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th class="header">Year</th>
      <th class="header">Journal</th>
      <th class="header">Title</th>
    </tr>
  </thead>
  <tbody>
    <% publications.each do |p| %>
      <tr class="publication_row">
        <td><%= p.published_at.present? ? p.published_at.year : '' %></td>
        <td><%= p.journal_title.present? ? p.journal_title : '' %></td>
        <td><%= link_to p.title, "/admin/publication/#{p.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
