<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th class="header">Year</th>
      <th class="header">Journal</th>
      <th class="header">Publisher</th>
      <th class="header">Title</th>
    </tr>
  </thead>
  <tbody>
    <% publications.order(Arel.sql("date_trunc('year', published_on) DESC")).order(journal_title: :asc).order(title: :asc).each do |p| %>
      <tr class="publication_row">
        <td><%= p.published_on.present? ? p.published_on.year : '' %></td>
        <td><%= p.journal_title.present? ? p.journal_title : '' %></td>
        <td><%= p.publisher.present? ? p.publisher : '' %></td>
        <td><%= link_to p.title, "/admin/publication/#{p.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
