<div class="nested-fields file-upload-fields">
  <div class="file-group">
      <div class="form-group file required file-display">
      <% @cache_files.each do |key, file| %>
        <button type="button" class="btn btn-link">
          <%= f.hidden_field "cache_path", value: file[:cache_path] %>
          <%= link_to file[:original_filename], scholarsphere_file_serve_path(filename: file[:cache_path]), target: '_blank', class: 'form-control disabled' %>
        </button>
      <% end %>
      </div>
  </div>
</div>
