<div class="nested-fields file-upload-fields">
  <div class="file-group">
      <div class="form-group file required file-display">
      <% @cache_files.values.each do |file| %>
        <%= link_to file[:original_filename], file[:cache_path], target: '_blank', class: 'form-control disabled' %>
      <% end %>
      </div>
  </div>
</div>
