<% if flash[:embargoed_until] %>
<section>
  <div class="alert alert-info">
    <%= f.input :embargoed_until,
                label: 'Embargoed until',
                include_blank: true,
                start_year: Date.today.year,
                end_year: Date.today.year + 10,
                hint: flash[:embargoed_until] %>
  </div>
</section>
<% else %>
  <%= f.input :embargoed_until,
              label: 'Embargoed until',
              include_blank: true,
              start_year: Date.today.year,
              end_year: Date.today.year + 10 %>
<% end %>
