<% if flash[:publisher_statement] %>
<section>
  <div class="alert alert-info">
    <%= f.input :publisher_statement,
                label: 'Publisher Statement',
                input_html: { rows: 7 },
                hint: flash[:publisher_statement] %>
  </div>
</section>
<% else %>
    <%= f.input :publisher_statement,
                label: 'Publisher Statement',
                hint: "If the original publisher requires a set statement to upload this work to ScholarSphere, include it here." %>
<% end %>
