<div id="file_version_result" data-target="<%= file_version_result_path({ job_ids: @job_ids }) %>">
  <p>
    <span class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </span> Attempting to determine file version, please wait...
  </p>
</div>
