// Color variables
$white: #fff;
$light-gray: #ddd;
$blue: #007bff;

.pagination a,
.pagination span.current,
.pagination span.gap {
  float: left;
  line-height: 25px;
  padding: 0 7px;
  text-decoration: none;
  vertical-align: middle;
}

.pagination {
  span.current {
    background-color: $blue;
    color: $white;
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
  }

  .first,
  .prev,
  .page,
  .next,
  .last {
    border: 0;
    float: none;
    padding: 0;
  }
}

.grid-org-pubs {
  background-color: $white;
  border-radius: 5px;

  .intro {
    font-weight: bold;
  }
}

.grid-org-paginator {
  margin-top: 15px;
  padding-bottom: 10px;
}

