---
http_interactions:
- request:
    method: get
    uri: https://identity.apps.psu.edu/search-service/resources/people/userid/abc123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      X-Content-Security-Policy:
      - frame-ancestors 'none'
      Uniqueid:
      - b2f4d0eb-2915-459d-ac25-86d94c8188ea
    body:
      encoding: UTF-8
      string: '{"userid":"abc123","cprid":"7489945","givenName":"Firstname","familyName":"Lastname","middleName":"Middlename","active":true,"confHold":false,"serviceAccount":false,"affiliation":["MEMBER"],"displayName":"Firstname
        Lastname","link":{"href":"https://dev.apps.psu.edu/cpr/resources/7489945"}}'
  recorded_at: Thu, 18 Nov 2021 18:13:26 GMT
recorded_with: VCR 6.0.0