<footer class="text-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <p>
          <strong>Researcher Metadata Database</strong><br>
          Change the way you access Penn State researcher metadata.
        </p>
      </div>
      <div class="col-lg-6 logos">
        <p>RMD is a collaboration between the
          <a href="https://libraries.psu.edu">PSU Libraries</a>,
          <a href="https://research.psu.edu">OSVPR</a> and
          <a href="https://westarete.com">West Arête</a>.
        </p>
      </div>
      <div class="col-lg-3">
        <ul class="list-unstyled">
          <li><strong>Faculty Activity Management Services</strong></li>
          <li>University Libraries</li>
          <li><%= image_tag('metadata-email-icon.png', alt: 'Email') %><a href="mailto:L-FAMS@lists.psu.edu">L-FAMS@lists.psu.edu</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
