<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="header-mark navbar-brand">
        <a class="site-logo" href="#"><%= image_tag('penn-state-libraries-logo.png', alt: 'Penn State Libraries') %></a>
        <div class="header--nav-search">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMain" aria-controls="offcanvasMain" aria-expanded="false" aria-label="Show offcanvas nav">
            <span class="navbar-toggler-icon navbar-dark"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block container-fluid">
      <%= render partial: 'shared/navbar_links' %>
    </div>
  </nav>
</header>
