<p>
  Even though you are requesting a waiver, you should still consider depositing the accepted
  manuscript version ("post-print") of your publication in
  <%= link_to "ScholarSphere", "https://scholarsphere.psu.edu/", target: "_blank" %>. It may be
  able to be made available immediately or after a delay depending on the nature of your
  publication agreement. <%= link_to "Contact", "mailto:copyright@psu.edu" %> the Office of
  Scholarly Communications and Copyright for help determining what kind of distribution is
  appropriate for the work.
</p>
