---
http_interactions:
- request:
    method: get
    uri: https://identity.apps.psu.edu/search-service/resources/people/userid/abc123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      X-Content-Security-Policy:
      - frame-ancestors 'none'
      Uniqueid:
      - '0925a90fe46445c0a932776db0ac6676'
    body:
      encoding: UTF-8
      string: '{"status":{"code":404,"message":"NOT_FOUND"},"errorMessage":["No person
        matched the input userid: user5075"],"link":null}'
  recorded_at: Tue, 23 Aug 2022 16:22:01 GMT
- request:
    method: get
    uri: https://identity.apps.psu.edu/search-service/resources/people/userid/ajk5603
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      X-Content-Security-Policy:
      - frame-ancestors 'none'
      Uniqueid:
      - 545bf908ad7f6cac5997ba3e50e7de39
    body:
      encoding: UTF-8
      string: '{"userid":"ajk5603","cprid":"2460424","givenName":"Alexander","familyName":"Kiessling","preferredGivenName":"Alex","preferredFamilyName":"Kiessling","active":true,"confHold":false,"universityEmail":"ajk5603@psu.edu","serviceAccount":false,"affiliation":["STAFF"],"link":{"href":"https://dev.apps.psu.edu/cpr/resources/2460424"},"displayName":"Alex
        Kiessling"}'
  recorded_at: Tue, 23 Aug 2022 16:22:02 GMT
recorded_with: VCR 6.1.0
