---
http_interactions:
- request:
    method: get
    uri: https://api.openaccessbutton.org/permissions/10.1231%2Fabcd.54321
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: Success
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Paradigm:
      - v6.1.0 built Wed Sep 14 2022 11:44:26 GMT+0100
      X-Paradigm-Took:
      - '463'
      X-Paradigm-Bg:
      - 'true'
    body:
      encoding: UTF-8
      string: '{\n "all_permissions": [\n {\n "version":"acceptedVersion",\n  "licence":"cc-by",\n  "embargo_end_date":"2017-01-01",\n  "deposit_statement":"Statement"}\n  ]\n }'
  recorded_at: Thu, 15 Sep 2022 21:14:29 GMT
