$brand-primary: #2a4d69;
$brand-info: #4b86b4;
$link-color: #63ace5;
$nav-pills-active-link-hover-bg: #adcbe3;
$btn-primary-bg: #e7eff6;
$btn-primary-border: #4b86b4;
$btn-info-bg: #4b86b4;
$btn-info-border: #4b86b4;
$fg-nav-tabs-active: #8db9df;
