$brand-primary: #2E2D3E;
$brand-info: #497295;
$link-color: #337ab7;
$nav-pills-active-link-hover-bg: #497295;
$btn-primary-bg: #497295;
$btn-primary-border: #497295;
$btn-info-bg: #dfdfdf;
$btn-info-border: #dfdfdf;
$fg-nav-tabs-active: #777;

.grouped-publications {
  overflow-x: scroll;

  th.publication-field, td.publication-field {
    min-width: 325px;
  }

  th.publication-field-label, td.publication-field-label {
    font-weight: bold;
    min-width: 160px;
  }
}

.row-integration {
  padding-left: 50px;
  padding-top: 20px;
}

.panel-integration {
  padding-top: 5px;
  padding-bottom: 25px;
  width: 100vh;
}
