$brand-info: #497295;
$link-color: #337ab7;
$nav-pills-active-link-hover-bg: #497295;
$btn-primary-bg: #497295;
$btn-primary-border: #497295;
$white: #fff;

.label-info a {
  color: $white;
}

body.rails_admin .form-horizontal .ui-autocomplete-input {
  width: 100%;
}

.grouped-publications {

  th.publication-field,
  td.publication-field {
    min-width: 325px;
  }

  th.publication-field-label,
  td.publication-field-label {
    font-weight: bold;
    min-width: 160px;
  }
}

.row-integration {
  padding-left: 50px;
  padding-top: 20px;
}

.panel-integration {
  padding-bottom: 25px;
  padding-top: 5px;
  width: 100vh;
}

.scroll-wrapper1,
.scroll-wrapper2 {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}

.scroll-wrapper1 { height: 20px; }

.scroll-top { height: 20px; }

input.merge-target-selector {
  height: 35px;
  width: 35px;
}

input.publication-selector {
  height: 35px;
  width: 35px;
}
