<div class="container pt-4 pb-5">
  <div class="row">
    <div class='col-xl pb-4'>
      <h1>Activity Insight Open Access Workflow</h1>
      <hr>
    </div>
  </div>
  <%= render ActivityInsightOADashboardComponent.new %>
</div>
