---
http_interactions:
- request:
    method: get
    uri: https://identity.apps.psu.edu/search-service/resources/people/userid/idonotexist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      X-Content-Security-Policy:
      - frame-ancestors 'none'
      Uniqueid:
      - a827876d-5f22-45e0-87e9-7617b3c2a0e4
    body:
      encoding: UTF-8
      string: '{"status":{"code":404,"message":"NOT_FOUND"},"errorMessage":["No person
        matched the input userid: idonotexist"],"link":null}'
  recorded_at: Thu, 21 Oct 2021 17:01:54 GMT
recorded_with: VCR 6.0.0
