---
http_interactions:
- request:
    method: get
    uri: https://identity.apps.psu.edu/search-service/resources/people/userid/idonotexist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      X-Content-Security-Policy:
      - frame-ancestors 'none'
      Uniqueid:
      - 22b310a4-45bf-45e9-a5c8-494ba729b104
    body:
      encoding: UTF-8
      string: '{"status":{"code":404,"message":"NOT_FOUND"},"errorMessage":["No person
        matched the input userid: idonotexist"],"link":null}'
  recorded_at: Fri, 08 Oct 2021 16:52:20 GMT
recorded_with: VCR 6.0.0
