---
http_interactions:
- request:
    method: get
    uri: https://api.unpaywall.org/v2/search/?email=openaccess@psu.edu&query=Economic%20Development
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"elapsed_seconds":0.221,"results":[{"response":{"best_oa_location":{"endpoint_id":null,"evidence":"open
        (via page says license)","host_type":"publisher","is_best":true,"license":"cc-by","oa_date":"2009-02-09","pmh_id":null,"repository_institution":null,"updated":"2021-11-29T14:55:49.167979","url":"https://ccsenet.org/journal/index.php/ass/article/download/828/788","url_for_landing_page":"https://doi.org/10.5539/ass.v4n11p143","url_for_pdf":"https://ccsenet.org/journal/index.php/ass/article/download/828/788","version":"publishedVersion"},"data_standard":2,"doi":"10.5539/ass.v4n11p143","doi_url":"https://doi.org/10.5539/ass.v4n11p143","first_oa_location":{"endpoint_id":null,"evidence":"open
        (via page says license)","host_type":"publisher","is_best":true,"license":"cc-by","oa_date":"2009-02-09","pmh_id":null,"repository_institution":null,"updated":"2021-11-29T14:55:49.167979","url":"https://ccsenet.org/journal/index.php/ass/article/download/828/788","url_for_landing_page":"https://doi.org/10.5539/ass.v4n11p143","url_for_pdf":"https://ccsenet.org/journal/index.php/ass/article/download/828/788","version":"publishedVersion"},"genre":"journal-article","has_repository_copy":true,"is_oa":true,"is_paratext":false,"journal_is_in_doaj":false,"journal_is_oa":false,"journal_issn_l":"1911-2017","journal_issns":"1911-2025,1911-2017","journal_name":"Asian
        Social Science","oa_locations":[{"endpoint_id":null,"evidence":"open (via
        page says license)","host_type":"publisher","is_best":true,"license":"cc-by","oa_date":"2009-02-09","pmh_id":null,"repository_institution":null,"updated":"2021-11-29T14:55:49.167979","url":"https://ccsenet.org/journal/index.php/ass/article/download/828/788","url_for_landing_page":"https://doi.org/10.5539/ass.v4n11p143","url_for_pdf":"https://ccsenet.org/journal/index.php/ass/article/download/828/788","version":"publishedVersion"},{"endpoint_id":"trmgzrn8eq4yx7ddvmzs","evidence":"oa
        repository (semantic scholar lookup)","host_type":"repository","is_best":false,"license":null,"oa_date":null,"pmh_id":null,"repository_institution":null,"updated":"2019-10-01T00:00:00","url":"http://pdfs.semanticscholar.org/4892/56d14f7e49fe1853c888cfad4f71a5ebbe72.pdf","url_for_landing_page":"https://semanticscholar.org/paper/489256d14f7e49fe1853c888cfad4f71a5ebbe72","url_for_pdf":"http://pdfs.semanticscholar.org/4892/56d14f7e49fe1853c888cfad4f71a5ebbe72.pdf","version":"submittedVersion"}],"oa_locations_embargoed":[],"oa_status":"hybrid","published_date":"2009-02-09","publisher":"Canadian
        Center of Science and Education","title":"Revelation of Three Periods of Japan
        Economic Development on the Economic Development of China","updated":"2022-09-27T17:51:41.257104","year":2009,"z_authors":[{"family":"Ma","given":"Shijie","sequence":"first"},{"family":"Li","given":"Jian","sequence":"additional"}]},"score":0.101335384,"snippet":"Revelation
        of Three Periods of Japan <b>Economic</b> <b>Development</b> on the <b>Economic</b>
        <b>Development</b> of China"},{"response":{"best_oa_location":null,"data_standard":2,"doi":"10.5772/intechopen.82996","doi_url":"https://doi.org/10.5772/intechopen.82996","first_oa_location":null,"genre":"book","has_repository_copy":false,"is_oa":false,"is_paratext":false,"journal_is_in_doaj":false,"journal_is_oa":false,"journal_issn_l":null,"journal_issns":null,"journal_name":null,"oa[...]
[...]
