---
http_interactions:
- request:
    method: get
    uri: https://identity.apps.psu.edu/search-service/resources/people/userid/agw13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      X-Content-Security-Policy:
      - frame-ancestors 'none'
      Uniqueid:
      - fa9e1a61-ac18-4b84-be5c-adefc9618d2c
    body:
      encoding: UTF-8
      string: '{"userid":"agw13","cprid":"2784093","givenName":"Adam","middleName":"Garner","familyName":"Wead","preferredGivenName":"Adam","preferredFamilyName":"Wead","active":true,"confHold":false,"universityEmail":"agw13@psu.edu","serviceAccount":false,"affiliation":["STAFF"],"displayName":"Adam
        Wead","link":{"href":"https://dev.apps.psu.edu/cpr/resources/2784093"}}'
  recorded_at: Tue, 12 Oct 2021 20:30:57 GMT
recorded_with: VCR 6.0.0
