---
http_interactions:
- request:
    method: get
    uri: https://api.unpaywall.org/v2/search/?email=openaccess@psu.edu&query=Stable%20characteristic%20evolution%20of%20generic%20three-dimensional%20single-black-hole%20spacetimes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"elapsed_seconds":0.059,"results":[{"response":{"best_oa_location":{"endpoint_id":"arXiv.org","evidence":"oa
        repository (via OAI-PMH doi match)","host_type":"repository","is_best":true,"license":null,"oa_date":null,"pmh_id":"oai:arXiv.org:gr-qc/9801069","repository_institution":"arXiv.org","updated":"2017-10-20T16:41:23.656642","url":"http://arxiv.org/pdf/gr-qc/9801069","url_for_landing_page":"http://arxiv.org/abs/gr-qc/9801069","url_for_pdf":"http://arxiv.org/pdf/gr-qc/9801069","version":"submittedVersion"},"data_standard":2,"doi":"10.1103/physrevlett.80.3915","doi_url":"https://doi.org/10.1103/physrevlett.80.3915","first_oa_location":{"endpoint_id":"rhmt2yo3ath4ffmgcv4x","evidence":"oa
        repository (via OAI-PMH title and first author match)","host_type":"repository","is_best":false,"license":null,"oa_date":"2021-07-01","pmh_id":"cdr.lib.unc.edu:n583z396h","repository_institution":"University
        of North Carolina at Chapel Hill - Carolina Digital Repository","updated":"2022-07-13T20:46:26.749306","url":"https://cdr.lib.unc.edu/downloads/hm50v1675","url_for_landing_page":"https://doi.org/10.17615/qyzk-xf22","url_for_pdf":"https://cdr.lib.unc.edu/downloads/hm50v1675","version":"submittedVersion"},"genre":"journal-article","has_repository_copy":true,"is_oa":true,"is_paratext":false,"journal_is_in_doaj":false,"journal_is_oa":false,"journal_issn_l":"0031-9007","journal_issns":"0031-9007,1079-7114","journal_name":"Physical
        Review Letters","oa_locations":[{"endpoint_id":"arXiv.org","evidence":"oa
        repository (via OAI-PMH doi match)","host_type":"repository","is_best":true,"license":null,"oa_date":null,"pmh_id":"oai:arXiv.org:gr-qc/9801069","repository_institution":"arXiv.org","updated":"2017-10-20T16:41:23.656642","url":"http://arxiv.org/pdf/gr-qc/9801069","url_for_landing_page":"http://arxiv.org/abs/gr-qc/9801069","url_for_pdf":"http://arxiv.org/pdf/gr-qc/9801069","version":"submittedVersion"},{"endpoint_id":"rhmt2yo3ath4ffmgcv4x","evidence":"oa
        repository (via OAI-PMH title and first author match)","host_type":"repository","is_best":false,"license":null,"oa_date":"2021-07-01","pmh_id":"cdr.lib.unc.edu:n583z396h","repository_institution":"University
        of North Carolina at Chapel Hill - Carolina Digital Repository","updated":"2022-07-13T20:46:26.749306","url":"https://cdr.lib.unc.edu/downloads/hm50v1675","url_for_landing_page":"https://doi.org/10.17615/qyzk-xf22","url_for_pdf":"https://cdr.lib.unc.edu/downloads/hm50v1675","version":"submittedVersion"}],"oa_locations_embargoed":[],"oa_status":"green","published_date":"1998-05-04","publisher":"American
        Physical Society (APS)","title":"Stable Characteristic Evolution of Generic
        Three-Dimensional Single-Black-Hole Spacetimes","updated":"2022-07-16T06:34:55.953766","year":1998,"z_authors":[{"family":"G\u00f3mez","given":"R.","sequence":"first"},{"family":"Lehner","given":"L.","sequence":"additional"},{"family":"Marsa","given":"R.
        L.","sequence":"additional"},{"family":"Winicour","given":"J.","sequence":"additional"},{"family":"Abrahams","given":"A.
        M.","sequence":"additional"},{"family":"Anderson","given":"A.","sequence":"additional"},{"family":"Anninos","given":"P.","sequence":"additional"},{"family":"Baumgarte","given":"T.
        W.","sequence":"additional"},{"family":"Bishop","given":"N. T.","sequence":"add[...]
