@import "bootstrap";
@import "font-awesome";

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.manage-profile-nav {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
  background-color: #fff;
  clear: both;
  padding: 0 16px 0 0;

  .navbar-brand {
    padding-top: 0px;
    margin: 0 60px 0 8px;
  }
}

.manage-profile-header {
  height: 38px;
  background-color: #595959;

  ul {
    list-style: none;
    float: right;
    padding: 6px 16px 0 0;
  }

  a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
  }
}

.open-access-info {
  margin: 30px 0 30px 0;
}

.oa-publication-details {
  td {
    padding: 4px 20px 4px 0;
    min-width: 142px;
  }

  margin-bottom: 30px;
}

.open-access-action, .profile-bio-section {
  padding: 30px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 20px 0
}

.open-access-actions {
  margin-bottom: 40px;
}

.action-separator {
  font-size: 24px;
  text-align: center;
}

table.legend {
  font-size: 13px;
  td {
    padding: 4px 8px;
  }
}

#icon-key {
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 20px;
  background-color: lightgrey;
}

.profile-bio-section {
  .orcid-button {
    display: inline-block;
  }
}