@import "bootstrap";
@import "font-awesome";

.open-access-info {
  margin: 30px 0 30px 0;
}

.oa-publication-details {
  td {
    padding: 4px 20px 4px 0;
    min-width: 142px;
  }

  margin-bottom: 30px;
}

.add-open-access-url {
  padding: 30px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}