---
http_interactions:
- request:
    method: get
    uri: https://identity.apps.psu.edu/search-service/resources/people/userid/idonotexist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      X-Content-Security-Policy:
      - frame-ancestors 'none'
      Uniqueid:
      - dd7cd459-7fd2-49ae-b9f6-77e907627193
    body:
      encoding: UTF-8
      string: '{"status":{"code":404,"message":"NOT_FOUND"},"errorMessage":["No person
        matched the input userid: idonotexist"],"link":null}'
  recorded_at: Tue, 02 Nov 2021 17:28:50 GMT
recorded_with: VCR 6.0.0
