<div class="container pt-4 pb-5">
  <%= link_to '<< Back', activity_insight_oa_workflow_path %>
  <h1 class="pb-3 pt-2">Publications with Wrong File Version</h1>
  <div class='card'>
  
  </div>
</div>
