<div class="container pt-4 pb-5">
  <%= link_to '<< Back', activity_insight_oa_workflow_path %>
  <h1 class="pb-3 pt-2">Publications with Wrong File Version</h1>
  <table class="table">
    <thead class='card-header'>
      <tr>
        <th>Author</th>
        <th>Author Batch Email</th>
        <th>Publication Email</th>
        <th>Title</th>
        <th>Preferred Version</th>
        <th>File Version</th>
        <th>File Created On</th>
        <th>Download File</th>
      </tr>
    </thead>
    <tbody class='card-body'>
      <%= render partial: 'activity_insight_oa_workflow/shared/wrong_version_details', 
      locals: { 
        show_notification_details: false, 
        email_path: activity_insight_oa_workflow_wrong_file_version_email_path, 
        all_publications: @publications } %>
    </tbody>
  </table>
</div>
