---
http_interactions:
- request:
    method: get
    uri: https://identity.apps.psu.edu/search-service/resources/people/userid/abc123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      X-Content-Security-Policy:
      - frame-ancestors 'none'
      Uniqueid:
      - 8740a868bf8b0708b8041e7f42a567dd
    body:
      encoding: UTF-8
      string: '{"status":{"code":404,"message":"NOT_FOUND"},"errorMessage":["No person
        matched the input userid: user5076"],"link":null}'
  recorded_at: Tue, 23 Aug 2022 14:42:35 GMT
- request:
    method: get
    uri: https://identity.apps.psu.edu/search-service/resources/people/userid/agw13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      X-Content-Security-Policy:
      - frame-ancestors 'none'
      Uniqueid:
      - 612baa417e02e4392d44b4a8c3abf29a
    body:
      encoding: UTF-8
      string: '{"status":{"code":404,"message":"NOT_FOUND"},"errorMessage":["No person
        matched the input userid: agw13"],"link":null}'
  recorded_at: Tue, 23 Aug 2022 14:42:35 GMT
recorded_with: VCR 6.1.0
