<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1>Research Metadata Database</h1>
      </div>
      <div class="col-lg-4">
        <h2>How It Works</h2>
        <p>
          Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        </p>
      </div>
    </div>
  </div>
</header>

<main role="main" class="container">
  <div class="row text-center">
    <div class="col-lg-4">
      <%= image_tag('metadata.png', alt: 'Research Metadata') %>
      <h3>Research Metadata</h3>
      <p>
        Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus.
      </p>
      <a class="btn btn-primary" href="#">Learn More</a>
    </div>
    <div class="col-lg-4">
      <%= image_tag('api.png', alt: 'Comprehensive API') %>
      <h3>Comprehensive API</h3>
      <p>
        Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus.
      </p>
      <a class="btn btn-primary" href="#">Learn More</a>
    </div>
    <div class="col-lg-4">
      <%= image_tag('profile.png', alt: 'Build Faculty Profiles') %>
      <h3>Build Faculty Profiles</h3>
      <p>
        Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus.
      </p>
      <a class="btn btn-primary" href="#">Learn More</a>
    </div>
  </div>
</main>
