<div id="rmd">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Research Metadata Database</h1>
          <p class="lead"><em>Change the way you access faculty metadata</em></p>
        </div>
      </div>
    </div>
  </header>

  <main role="main" class="container">
    <div class="row">
      <div class="col-lg-4">
        <h5>Check out our template ...</h5>
        <p>
        To make constructing profiles easier, we created a profile template written in plain HTML/CSS and Javascript that pulls content from our API to present a rich, clean looking profile page. Follow the links below to see a live demo or download the code. See the documentation in Quick_Start_Guide.md in the downloaded code as a starting point for development of your own faculty profile site.
        </p>
        <a href="https://profile-demo.libraries.psu.edu/index.html#pjh18", target="_blank"><%=image_tag('profile-sm.png', alt: 'Demo Page')%><strong>Visit the live demo</strong></a>
        <a href="researcher-metadata-profile-demo.zip"><%=image_tag('wrench.png', alt: 'Repository')%><strong>Download code</strong></a>
      </div>
      <div class="col-lg-8">
        <p>Example of our faculty profile pages</p>
        <%= image_tag('profile-page-2.png', alt: 'Faculty Profile Page', id: 'profile-page') %>
      </div>
    </div>
  </main>
</div>
